<div>



    <form>

        <md-input-container>
            <input type="text" placeholder="email" ng-model="loginCtrl.userData.email">
        </md-input-container>
        <md-input-container>
            <input type="password" placeholder="password" ng-model="loginCtrl.userData.password">
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="loginCtrl.signup()">
            signup
        </md-button>
        <md-button class="md-raised md-primary" ng-click="loginCtrl.login()">
            login
        </md-button>


    </form>




</div>